body {
  background-image: url("../assets/images/course_cat_bg.jpg");
   color: 333;
   background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/*responsive for mobile */
.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

/* responsive for image in box collumn */
.img-responsive{
  max-width: 300px;
  min-width: 300px;
  min-height: 300px;
  max-height: 300px;
}

.container {
  width: 100% !important;
  padding: 0px;
 }
 /* custom fonts */
 @font-face {
     font-family: 'Merriweather';
     src: url('../assets/fonts/Merriweather-Regular.ttf');
 }
/* background colors */
 .bg-white{
   background-color: #fff;
 }

 .bg-black{
   background-color: #323232;
   color: #fff;
 }

 .bg-yellow{
   background-color: #f7c052;
 }

 .bg-green{
   background-color: #34c663;
 }

 .bg-red{
   background-color: #e85342;
 }
 /*font colors */
 .text-green-highlight{
   color: #34c663;
 }

 .text-yellow-highlight{
   color: #f7c052;
 }

 .text-red-highlight{
   color: #e85342;
 }
 /* text hover */
 .text-yellow-hover:hover {
   color: #f7c052;
   cursor: pointer;
 }

 .text-green-hover:hover {
   color: #34c663;
   cursor: pointer;
 }

 .text-red-hover:hover {
   color: #e85342;
   cursor: pointer;
 }
 /* opacity background for introduce */
.bg-opacity{
  background: #323232;
  opacity: 0.75;
  color: #fff;
}

footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 32px;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

/* introduce Field */
.col-introduce{
  padding-left: 50px;
  padding-right: 50px;
  margin-top: -150px;
}

.text-intro {
  font-family: 'Merriweather';
}

h3.text-intro {
  font-weight: 700;
  font-size: 25px;
  padding-top: 50px;
  margin: 0px;
}

h1.text-intro {
  font-weight: 800;
  font-size: 70px;
  word-wrap: break-word;
  max-width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h2.text-intro {
  font-weight: 800;
  font-size: 30px;
  word-wrap: break-word;
  max-width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

p.text-intro{
  color: #787878;
  font-size: 22px;
  word-wrap: break-word;
  max-width: 1000px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

p.text-intro-content{
  color: #fff;
  font-size: 20px;
  padding-top: 30px;
  word-wrap: break-word;
  max-width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.navbar-rainbow-college{
  margin-bottom: 0px;
}

.box-image-introduce{
  position: relative;
    text-align: center;
    z-index: 2;
}

.box-content-introduce{
  padding-top: 90px;
  color: #fff;
  margin-top: -4.4em;
  min-height: 300px;
}

.box-introduce{
  padding: 0px;
}

.box-introduce-center{
  margin-top: -4.4em;
}

.box-content-introduce-center{
  min-height: 350px;
}

.introduce {
  position: relative;
}

.text-introduce {
   position: absolute;
   top: 0;
   width: 100%;
}

@media all and (max-width: 992px) {
   .text-introduce {
      background: #fff;
      position: relative;
   }
}

.img-introduce {
  width: 100%;
  height: auto;
}

.content-introduce {
  background: #fff;
}

@media all and (max-width: 992px) {
   .col-introduce {
      margin-top: 0px;
      padding-top: 50px;
   }

   .box-introduce-center {
     margin-top: 20px;
   }
}

/* testiminial Field */
.text-testimonial {
  font-family: 'Merriweather';
}

h1.text-testimonial {
  margin: 0px;
  padding-top: 50px;
  font-weight: 1000;
  font-size: 35px;
  word-wrap: break-word;
  max-width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h2.text-testimonial {
  margin: 0px;
  font-weight: 700;
  font-size: 30px;
  margin-top: 50px;
}

p.text-testimonial {
  color: #fff;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  padding-top: 30px;
  word-wrap: break-word;
  max-width: 700px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

p.text-testimonial-footer{
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0px;
}


/*header logo*/

.header-logo {
  background: white;
}

.logo {
  margin: 36px 0px 18px;
}

/* slide for testiminial field */
.slide-index{
  font-size: 25px;
  font-family: sans-serif;
  color: #fff;
  padding: 20px;
}

.active{
font-size: 30px;
background-color: transparent !important;
}
/* fade animation for slide */
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

p.slide-index:hover{
  font-size: 30px;
  cursor: pointer;
}
/* blog field */

.blog {
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}
.text-blog {
  font-family: 'Merriweather';
}

h3.text-blog {
  font-weight: 600;
  font-size: 16px;
  padding-top: 100px;
  margin: 0px;
}

h4.text-blog {
  font-weight: 600;
  font-size: 14px;
  padding-top: 50px;
  margin: 0px;
  text-align: left;
}

h2.text-blog {
  font-weight: 600;
  font-size: 23px;
  padding-top: 15px;
  margin: 0px;
  text-align: left;
  word-wrap: break-word;
}

h1.text-blog {
  font-weight: 700;
  font-size: 35px;
  word-wrap: break-word;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

p.text-blog {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
  text-align: left;
  word-wrap: break-word;
}

.image-blog {
  position: relative;
  margin-right: 10px;
}

.image-blog-link {
  position: absolute;
}

.image-blog .image-blog-link {
    bottom: -1px;
    color: #fff;
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    left: 0;
    padding-bottom: 8px;
    top: 0;
    width: 60px;
}

.image-blog-img {
  height: auto;
  max-width: 100%;
}
/* set position for flaticon */
.icon-blog-share {
  position: absolute;
  top: 10px;
}

.icon-blog-eye {
  position: absolute;
  bottom: 50px;
}

.icon-blog-link {
  position: absolute;
  bottom: 10px;
}

.image-blog:hover {
  background-color: rgba(55, 52, 47, 0.5);
  left: 0;
  opacity: 0.75;
  top: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear
}

.text-blog.text-green-highlight:hover,
.text-blog.text-yellow-highlight:hover,
.text-blog.text-red-highlight:hover {
  color: #000;
  cursor: pointer;
}
/* resize flaticon when hover */
.icon-blog:hover.icon-blog-share:before,
.icon-blog:hover.icon-blog-eye:before,
.icon-blog:hover.icon-blog-link:before{
  cursor: pointer;
  font-size: 25px;
}

.text-blog-link {
  color: #000;
}

.text-blog-link:hover {
  text-decoration: none !important;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #34c663; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #f7c052; /* Add a dark-grey background on hover */
}

#myBtn:after {
  content: "\f106";
  font-family: "FontAwesome";
}
