/*css for about ưs*/
/*one half section left or right image*/
.cover_image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.cover_image > a {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

@media (min-width: 992px) {
    .cover_image {
        background-position: 50% 50%;
        bottom: 0;
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }

    .cover_image.cover_right {
        left: auto;
        width: 50%;
    }

    .cover_image.cover_left {
        width: 50%;
    }

    .cover_image > img {
        visibility: hidden;
    }
}

.special_media {
    background-repeat: no-repeat;
}

.special_media .cover_image.cover_left {
    background-position: 100% 100%;
    background-size: contain;
}

@media only screen and (max-width: 991px) {
    .special_media .cover_image.cover_left {
        background-image: none !important;
    }
}

@media only screen and (max-width: 991px) {
    .responsive_contacts > .container > .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap-reverse;
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }

    .responsive_contacts > .container > .row > .col-md-3:first-child {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }

    .responsive_contacts > .container > .row > .col-md-3:last-child {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }

    .responsive_contacts > .container > .row > .col-md-6 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        margin-bottom: 4em;
        -webkit-order: 3;
        order: 3;
    }

    .responsive_contacts > .container > .row > .col-md-3 {
        width: 50%;
    }

    .responsive_contacts > .container > .row .teaser.media.with_padding.with_border,
    .responsive_contacts > .container > .row .square_teaser.vertical-item {
        margin-left: auto;
        margin-right: auto;
        max-width: 270px;
    }
}

@media only screen and (max-width: 479px) {
    .responsive_contacts > .container > .row > .col-md-3 {
        width: 100%;
    }
}

img, figure {
    height: auto;
    max-width: 100%;
}

.ls .theme_button {
    color: #fff;
}

.theme_buttons a, .theme_button, .wc-proceed-to-checkout .checkout-button, .buttons a, button, input[type="submit"] {
    background-color: #34c663;
    border: 2px solid #34c663;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 4px;
    min-width: 8.5em;
    padding: 16px 49px 16px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
}

.theme_buttons a:hover,
.theme_button:hover,
.wc-proceed-to-checkout .checkout-button:hover,
.buttons a:hover,
button:hover,
input[type="submit"]:hover {
    background-color: transparent;
    border-color: #34c663;
    color: #34c663;
}

.ls .theme_buttons a,
.ls .theme_button {
    text-decoration: none;
    color: #fff;
}

.ls .theme_button:hover {
    color: #34c663;
}


/*css for course categories*/
.parallax {
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.parallax.ds:before {
    background-color: #323232;
    opacity: 0.75;
}

.muted_section:before, .muted_section:after, .parallax:before, .parallax:after {
    opacity: 0.8;
}

.muted_section:before, .muted_section:after, .parallax:before, .parallax:after, .gradient:before, .gradient:after, .vertical_gradient:before, .vertical_gradient:after, .darken_gradient:before, .darken_gradient:after {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}

.section_padding_bottom_0 > [class*="container"] {
    padding-bottom: 0;
}

.section_padding_top_0 > [class*="container"] {
    padding-top: 0;
}

.parallax > *, .muted_section > *, .radial_gradient > *, .gradient > *, .vertical_gradient > *, .darken_gradient > *, .diagonal_section > * {
    position: relative;
    z-index: 4;
}

.row.columns_padding_15, .columns_padding_15 .row {
    margin-left: -15px;
    margin-right: -15px;
}

.columns_padding_15 [class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

[class*="_0"] [class*="col-"], header [class*="col-"] {
    margin-bottom: 0;
    margin-top: 0;
    min-height: 0;
}

[class*="col-"] {
    margin-bottom: 15px;
    margin-top: 15px;
}

.fw-divider-space {
    clear: both;
    width: 100%;
}

.special_heading {
    position: relative;
}

.ds h1, .ds h2, .ds h3, .ds h4, .ds h5, .ds h6 {
    color: #fff;
}

h3.section_header {
    font-size: 35px;
    margin-bottom: 27px;
}

.section_header > span .heading_subtitle {
    color: #34c663;
    display: block;
    font: 700 16px/1em "Merriweather";
    margin-bottom: 11px;
}

.columns_padding_15 [class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

[class*="_0"] [class*="col-"], header [class*="col-"] {
    margin-bottom: 0;
    margin-top: 0;
    min-height: 0;
}

/*teasers*/
.teaser_border {
    border: 1px solid transparent;
}

.teaser_border_transparent {
    border-color: transparent;
}

.teaser_border_column_11 {
    border-bottom-color: #5a5a5a;
}

.teaser_border_column_12 {
    border-bottom-color: #5a5a5a;
    border-left-color: #5a5a5a;
    border-right-color: #5a5a5a;
}

.teaser_border_column_13 {
    border-bottom-color: #5a5a5a;
}

.teaser_border_column_21 {
    border-color: transparent;
}

.teaser_border_column_22 {
    border-left-color: #5a5a5a;
    border-right-color: #5a5a5a;
}

.teaser_border_column_23 {
    border-color: transparent;
}

.teaser_border_column_11 .teaser,
.teaser_border_column_12 .teaser,
.teaser_border_column_13 .teaser {
    margin-bottom: 2.35em !important;
}

.teaser_border_column_21 .teaser,
.teaser_border_column_22 .teaser,
.teaser_border_column_23 .teaser {
    margin-top: 2.35em !important;
}

@media only screen and (max-width: 991px) {
    .teaser_border_column_23,
    .teaser_border_column_22,
    .teaser_border_column_21,
    .teaser_border_column_13,
    .teaser_border_column_12,
    .teaser_border_column_11 {
        border: 0;
    }
}

[class*="col-"] {
    margin-bottom: 15px;
    margin-top: 15px;
}

.section_padding_bottom_0 .teaser {
    margin-bottom: 0;
}

.teaser_border_column_11 .teaser, .teaser_border_column_12 .teaser, .teaser_border_column_13 .teaser {
    margin-bottom: 2.35em !important;
}

.teaser {
    border-radius: 3px;
    margin-bottom: 1.4em;
    overflow: visible;
    position: relative;
}

.teaser .teaser_image {
    margin-bottom: 2.05em;
}

.teaser h5 {
    font-size: 18px;
    margin-bottom: 0.8em;
}

.teaser h2, .teaser h3, .teaser h4, .teaser h5 {
    margin-bottom: 1em;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.ds h5 a:hover,
.ds h6 a:hover {
    color: #34c663;
}

h5.entry-title {
    margin: 0 0 0.2em;
    text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
    h5.entry-title {
        line-height: 1.3em;
    }
}

.ds h5 a, .ds h6 a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
}

.teaser h2 a:after, .teaser h3 a:after, .teaser h4 a:after, .teaser h5 a:after {
    background-color: #34c663;
    bottom: -5px;
    content: "";
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
    width: 0;
}

.teaser h2 a:hover:after,
.teaser h3 a:hover:after,
.teaser h4 a:hover:after,
.teaser h5 a:hover:after {
    width: 50px;
}

.teaser_border .teaser p {
    color: #b4b4b4;
    line-height: 24px;
    padding-left: 3em;
    padding-right: 3em;
}

/*Css for popular course*/
section {
    overflow: hidden;
    clear: both;
    position: relative;

}

.course-entry {
    border: 0;
    margin-bottom: 30px;
    margin-top: 0;
    overflow: hidden;
    padding-bottom: 0;
}

.course-entry .course-cover {
    background-size: cover;
    border-radius: 3px;
    min-height: 407px;
    z-index: 0;
}

.course-entry:nth-of-type(12) .course-detail,
.course-entry:nth-of-type(7) .course-detail,
.course-entry:nth-of-type(4) .course-detail,
.course-entry:nth-of-type(1) .course-detail {
    border-color: #f7c052;
    border-top-color: transparent;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .course-entry .course-detail {
        padding: 18px 20px;
    }
}

.course-entry .course-detail {
    padding: 18px 20px;
    background-color: #fff;
    border: 2px solid #f7c052;
    border-radius: 0 0 3px 3px;
    bottom: 0;
    height: auto;
    left: 15px;
    min-height: 138px;
    opacity: 1;
    position: absolute;
    right: 15px;
    top: 269px;
    transition: 0.4s top ease-in-out 0s;
    z-index: 1;
}

.course-entry:nth-of-type(11) .course-detail,
.course-entry:nth-of-type(8) .course-detail,
.course-entry:nth-of-type(5) .course-detail,
.course-entry:nth-of-type(2) .course-detail {
    border-color: #34c663;
    border-top-color: transparent;
}

.course-entry .course-detail .course-meta {
    display: flex;
    margin-bottom: 12px;
    min-height: 80px;
}

.course-entry .course-detail .course-title {
    color: #505050;
    line-height: 1.15em;
    margin: 0 0 0.2em;
    max-height: 88px;
    overflow: hidden;
    text-transform: uppercase;
}

h5 {
    font-size: 1.428rem;
    letter-spacing: 0.4px;
    display: block;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../assets/fonts/Merriweather-Regular.ttf');
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", sans-serif;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1em;
    margin-top: 0;
}

.course-entry:nth-of-type(12) .course-meta .course-price,
.course-entry:nth-of-type(7) .course-meta .course-price,
.course-entry:nth-of-type(4) .course-meta .course-price,
.course-entry:nth-of-type(1) .course-meta .course-price {
    color: #f7c052;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .course-entry .course-detail .course-meta .course-price {
        font-size: 3em;
        margin-left: 0.2em;
    }
}

.course-entry .course-detail .course-meta .course-price {
    font: 700 3.6em/1em "Open Sans";
}

@media (min-width: 768px) and (max-width: 1199px) {
    .course-entry .course-detail .course-description {
        margin-top: 1em;
    }
}

.course-entry .course-detail .course-description {
    max-height: 72px;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.3s;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .course-entry .course-detail .course-author {
        margin-top: 0.8em;
    }
}

.course-entry .course-detail .course-author {
    font-family: "Merriweather";
    font-weight: 700;
    text-transform: uppercase;
}

.course-entry .course-detail .course-author a {
    text-decoration: none;
    color: #fff;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .course-entry .course-detail .course-buttons {
        margin-top: 1em;
    }
}

@media only screen and (max-width: 991px) {
    .course-entry .course-detail .course-buttons .theme_button {
        font-size: 11px;
        padding: 10px 12px;
    }
}

.course-entry .course-detail .course-buttons .theme_button {
    margin-right: 0;
}

.theme_button {
    color: #fff;
    border: 2px solid #34c663;
    border-radius: 4px;
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 4px;
    min-width: 8.5em;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .course-entry .course-detail .course-description {
        margin-top: 1em;
    }
}

.course-entry:hover .course-detail {
    background-color: rgba(247, 192, 82, 0.9);
    border-color: rgba(247, 192, 82, 0);
    border-radius: 3px;
    padding-top: 36px;
    top: 0;
}

@media only screen and (max-width: 991px) {
    .course-entry .course-detail .course-buttons .theme_button {
        font-size: 11px;
        padding: 10px 12px;
    }
}

.course-entry .course-detail .course-buttons .theme_button {
    margin-right: 0;
    padding: 16px 20px;
}

.ls .theme_button {
    color: #fff;
}

.theme_button.color1 {
    background-color: #f7c052;
    border-color: #f7c052;
    transition: all 0.3s;
}

.theme_button.color2 {
    background-color: #e85342;
    border-color: #e85342;
}

.course-entry:hover .course-detail .course-lesson-number,
.course-entry:hover .course-detail .course-description,
.course-entry:hover .course-detail .course-price,
.course-entry:hover .course-detail .course-title {
    color: #fff !important;
}

.course-entry:hover .course-detail .theme_button.color2:hover,
.course-entry:hover .course-detail .theme_button.color1 {
    background-color: #34c663;
    border-color: #34c663;
    color: #fff;
}

.course-entry:hover .course-detail .theme_button.color1:hover,
.course-entry:hover .course-detail .theme_button.color2 {
    background-color: #fff;
    border-color: #fff;
    color: #34c663;
}

.course-entry:hover .course-detail .course-description {
    opacity: 1;
}

.course-entry .course-meta-data .course-meta-field:first-child {
    color: #34c663;
    font-family: "Open Sans";
    font-weight: 600;
    letter-spacing: 1px;
}

.course-entry .course-meta-data .course-meta-field:first-child:after {
    color: #fff;
    font-weight: 400;
}

.course-entry:nth-of-type(12) .course-meta .course-price,
.course-entry:nth-of-type(7) .course-meta .course-price,
.course-entry:nth-of-type(4) .course-meta .course-price,
.course-entry:nth-of-type(1) .course-meta .course-price {
    color: #f7c052;
}

.course-entry:nth-of-type(12) .course-detail,
.course-entry:nth-of-type(7) .course-detail,
.course-entry:nth-of-type(4) .course-detail,
.course-entry:nth-of-type(1) .course-detail {
    border-color: #f7c052;
    border-top-color: transparent;
}

.course-entry:nth-of-type(12):hover .course-detail,
.course-entry:nth-of-type(7):hover .course-detail,
.course-entry:nth-of-type(4):hover .course-detail,
.course-entry:nth-of-type(1):hover .course-detail {
    background-color: rgba(247, 192, 82, 0.9);
    border-color: rgba(247, 192, 82, 0);
}

.course-entry:nth-of-type(12):hover .course-detail .theme_button.color2:hover,
.course-entry:nth-of-type(12):hover .course-detail .theme_button.color1,
.course-entry:nth-of-type(7):hover .course-detail .theme_button.color2:hover,
.course-entry:nth-of-type(7):hover .course-detail .theme_button.color1,
.course-entry:nth-of-type(4):hover .course-detail .theme_button.color2:hover,
.course-entry:nth-of-type(4):hover .course-detail .theme_button.color1,
.course-entry:nth-of-type(1):hover .course-detail .theme_button.color2:hover,
.course-entry:nth-of-type(1):hover .course-detail .theme_button.color1 {
    color: #fff;
}

.course-entry:nth-of-type(12):hover .course-detail .theme_button.color1:hover,
.course-entry:nth-of-type(12):hover .course-detail .theme_button.color2,
.course-entry:nth-of-type(7):hover .course-detail .theme_button.color1:hover,
.course-entry:nth-of-type(7):hover .course-detail .theme_button.color2,
.course-entry:nth-of-type(4):hover .course-detail .theme_button.color1:hover,
.course-entry:nth-of-type(4):hover .course-detail .theme_button.color2,
.course-entry:nth-of-type(1):hover .course-detail .theme_button.color1:hover,
.course-entry:nth-of-type(1):hover .course-detail .theme_button.color2 {
    color: #e85342;
}

.course-entry:nth-of-type(12):hover .course-detail .theme_button.color2:hover,
.course-entry:nth-of-type(12):hover .course-detail .theme_button.color1,
.course-entry:nth-of-type(7):hover .course-detail .theme_button.color2:hover,
.course-entry:nth-of-type(7):hover .course-detail .theme_button.color1,
.course-entry:nth-of-type(4):hover .course-detail .theme_button.color2:hover,
.course-entry:nth-of-type(4):hover .course-detail .theme_button.color1,
.course-entry:nth-of-type(1):hover .course-detail .theme_button.color2:hover,
.course-entry:nth-of-type(1):hover .course-detail .theme_button.color1 {
    background-color: #34c663;
    border-color: #34c663;
    color: #fff;
}

.course-entry:nth-of-type(12):hover .course-detail .theme_button.color1:hover,
.course-entry:nth-of-type(12):hover .course-detail .theme_button.color2,
.course-entry:nth-of-type(7):hover .course-detail .theme_button.color1:hover,
.course-entry:nth-of-type(7):hover .course-detail .theme_button.color2,
.course-entry:nth-of-type(4):hover .course-detail .theme_button.color1:hover,
.course-entry:nth-of-type(4):hover .course-detail .theme_button.color2,
.course-entry:nth-of-type(1):hover .course-detail .theme_button.color1:hover,
.course-entry:nth-of-type(1):hover .course-detail .theme_button.color2 {
    background-color: #fff;
    border-color: #fff;
    color: #34c663;
}

.course-entry:nth-of-type(11) .course-meta .course-price,
.course-entry:nth-of-type(8) .course-meta .course-price,
.course-entry:nth-of-type(5) .course-meta .course-price,
.course-entry:nth-of-type(2) .course-meta .course-price {
    color: #34c663;
}

.course-entry:nth-of-type(11) .course-detail,
.course-entry:nth-of-type(8) .course-detail,
.course-entry:nth-of-type(5) .course-detail,
.course-entry:nth-of-type(2) .course-detail {
    border-color: #34c663;
    border-top-color: transparent;
}

.course-entry:nth-of-type(11):hover .course-detail,
.course-entry:nth-of-type(8):hover .course-detail,
.course-entry:nth-of-type(5):hover .course-detail,
.course-entry:nth-of-type(2):hover .course-detail {
    background-color: rgba(52, 198, 99, 0.9);
    border-color: rgba(52, 198, 99, 0);
}

.course-entry:nth-of-type(11):hover .course-detail .theme_button.color2:hover,
.course-entry:nth-of-type(11):hover .course-detail .theme_button.color1,
.course-entry:nth-of-type(8):hover .course-detail .theme_button.color2:hover,
.course-entry:nth-of-type(8):hover .course-detail .theme_button.color1,
.course-entry:nth-of-type(5):hover .course-detail .theme_button.color2:hover,
.course-entry:nth-of-type(5):hover .course-detail .theme_button.color1,
.course-entry:nth-of-type(2):hover .course-detail .theme_button.color2:hover,
.course-entry:nth-of-type(2):hover .course-detail .theme_button.color1 {
    color: #fff;
}

.course-entry:nth-of-type(11):hover .course-detail .theme_button.color1:hover,
.course-entry:nth-of-type(11):hover .course-detail .theme_button.color2,
.course-entry:nth-of-type(8):hover .course-detail .theme_button.color1:hover,
.course-entry:nth-of-type(8):hover .course-detail .theme_button.color2,
.course-entry:nth-of-type(5):hover .course-detail .theme_button.color1:hover,
.course-entry:nth-of-type(5):hover .course-detail .theme_button.color2,
.course-entry:nth-of-type(2):hover .course-detail .theme_button.color1:hover,
.course-entry:nth-of-type(2):hover .course-detail .theme_button.color2 {
    color: #e85342;
}

.course-entry:nth-of-type(11):hover .course-detail .theme_button.color2:hover,
.course-entry:nth-of-type(11):hover .course-detail .theme_button.color1,
.course-entry:nth-of-type(8):hover .course-detail .theme_button.color2:hover,
.course-entry:nth-of-type(8):hover .course-detail .theme_button.color1,
.course-entry:nth-of-type(5):hover .course-detail .theme_button.color2:hover,
.course-entry:nth-of-type(5):hover .course-detail .theme_button.color1,
.course-entry:nth-of-type(2):hover .course-detail .theme_button.color2:hover,
.course-entry:nth-of-type(2):hover .course-detail .theme_button.color1 {
    background-color: #f7c052;
    border-color: #f7c052;
    color: #fff;
}

.course-entry:nth-of-type(11):hover .course-detail .theme_button.color1:hover,
.course-entry:nth-of-type(11):hover .course-detail .theme_button.color2,
.course-entry:nth-of-type(8):hover .course-detail .theme_button.color1:hover,
.course-entry:nth-of-type(8):hover .course-detail .theme_button.color2,
.course-entry:nth-of-type(5):hover .course-detail .theme_button.color1:hover,
.course-entry:nth-of-type(5):hover .course-detail .theme_button.color2,
.course-entry:nth-of-type(2):hover .course-detail .theme_button.color1:hover,
.course-entry:nth-of-type(2):hover .course-detail .theme_button.color2 {
    background-color: #fff;
    border-color: #fff;
    color: #f7c052;
}

.course-entry:nth-of-type(12) .course-meta .course-price,
.course-entry:nth-of-type(9) .course-meta .course-price,
.course-entry:nth-of-type(6) .course-meta .course-price,
.course-entry:nth-child(3) .course-meta .course-price {
    color: #e85342;
}

.course-entry:nth-of-type(12) .course-detail,
.course-entry:nth-of-type(9) .course-detail,
.course-entry:nth-of-type(6) .course-detail,
.course-entry:nth-child(3) .course-detail {
    border-color: #e85342;
    border-top-color: transparent;
}

.course-entry:nth-of-type(12):hover .course-detail,
.course-entry:nth-of-type(9):hover .course-detail,
.course-entry:nth-of-type(6):hover .course-detail,
.course-entry:nth-of-type(3):hover .course-detail {
    background-color: rgba(232, 83, 66, 0.9);
    border-color: rgba(232, 83, 66, 0);
}

.course-entry:nth-of-type(12):hover .course-detail .theme_button.color2:hover,
.course-entry:nth-of-type(12):hover .course-detail .theme_button.color1,
.course-entry:nth-of-type(9):hover .course-detail .theme_button.color2:hover,
.course-entry:nth-of-type(9):hover .course-detail .theme_button.color1,
.course-entry:nth-of-type(6):hover .course-detail .theme_button.color2:hover,
.course-entry:nth-of-type(6):hover .course-detail .theme_button.color1,
.course-entry:nth-of-type(3):hover .course-detail .theme_button.color2:hover,
.course-entry:nth-of-type(3):hover .course-detail .theme_button.color1 {
    background-color: #f7c052;
    border-color: #f7c052;
    color: #fff;
}

.course-entry:nth-of-type(12):hover .course-detail .theme_button.color1:hover,
.course-entry:nth-of-type(12):hover .course-detail .theme_button.color2,
.course-entry:nth-of-type(9):hover .course-detail .theme_button.color1:hover,
.course-entry:nth-of-type(9):hover .course-detail .theme_button.color2,
.course-entry:nth-of-type(6):hover .course-detail .theme_button.color1:hover,
.course-entry:nth-of-type(6):hover .course-detail .theme_button.color2,
.course-entry:nth-of-type(3):hover .course-detail .theme_button.color1:hover,
.course-entry:nth-of-type(3):hover .course-detail .theme_button.color2 {
    background-color: #fff;
    border-color: #fff;
    color: #f7c052;
}
