<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Index Page</title>
</head>
<body>
<h1 th:text="'Message: ' + ${message}"></h1>
</body>
</html>